/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-general), sans-serif;
  font-variation-settings: wght var(--font-weight-normal);
  font-size: 18px;
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
}

.content-width {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin-inline: auto;
}

.header {
  font-family: var(--font-accent), sans-serif;
  border: 2px solid black;
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  display: grid;
  justify-items: center;
  align-items: center;
  margin-block: 97px;
  gap: 20px;
  background-color: white;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__desc {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 51px;
  margin-block-end: 50px;
}

.card {
  display: grid;
  background-color: white;
  border: 2px solid black;
}

.card__title {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
  overflow: hidden;
}

.watermark {
  position: absolute;
  inset-block-start: 28px;
  inset-inline-end: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 2px white;
}

.card__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__description {
  padding: 23px 25px;
  display: grid;
  gap: 25px;
}

.card__text {
  line-height: 1.166;
}

.card__button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.like-icon {
  margin-inline-end: 12px;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  background-color: transparent;
  border: 2px solid black;
}

.button__text {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  line-height: 0.9;
  vertical-align: middle;
}

.sepia-saturate {
  filter: sepia(0.5) saturate(0.5);
}

.saturate {
  filter: saturate(5);
}

.rotate {
  filter: hue-rotate(45deg);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(0.8);
}

.blur {
  filter: blur(10px);
}

.rotate-blur {
  filter: hue-rotate(90deg) brightness(1.2) contrast(0.5) blur(2px);
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__button {
  padding: 17px 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid black;
}

.footer__button-icon {
  inline-size: 21px;
  block-size: 21px;
}

.footer__button-text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 0.9;
}

@media (width <= 375px) {
  .header {
    margin-block: 98px;
  }

  .main {
    gap: 50px;
  }

  .card__description {
    padding-block-end: 26px;
  }

  .footer__button {
    flex-direction: column;
  }

  .footer__button-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
